@use "../../styles/variables.scss" as variables;

.signature-container {
  padding: 10px 50px;

  .signature-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: variables.$title-color;
  }

  .signature-canvas-border {
    border: 1px solid #9e9e9e;
  }

  .signature-canvas-border-error {
    border: 1px solid #f44336;
  }

  .signature-canvas {
    width: 100%;
    height: 200px;
    touch-action: none;
    border-radius: 8px;
    display: block;
  }

  .signature-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
  }

  .signature-error {
    margin-top: 8px;
  }
}
